.naglowek2 {
    color: rgb(49, 19, 124);
    margin: 5px;
}

.moja_uwaga {
    color: rgb(56, 136, 49);
    background-color: rgb(250, 250, 250);
    margin: 5px;
    text-indent: 10px;
    border-width: 2px;
    border-style: solid;
    border-spacing: 10px;
    text-align-last: left;
    text-justify: auto;
}

.strona {
    margin: 5px;
    text-indent: 10px;
    border-width: 2px;
    border-style: none;
    border-spacing: 10px;
    text-align-last: left;
    text-justify: auto;
}